JIRA_API_TOKEN=ATATT3xFfGF03geLoivkBsiNGPAuNCOIjN0UkG2-KMncw6AaLBR6uAbaLIhDXkBiHHaWNYRLrrtMOfOMVnl60vUjxI_CqJnRoCkeeRYCjOnCiTROa3LMjG5s8_lE5NFfZF78c50aQDm8sODFUl8KUidDiO3d7DDGAX25APbCPyxIszln0Tvx7Ho=06804DAD
JIRA_BASE_URL=https://event-driven-rag-pipeline.atlassian.net
SHARED_FOLDER_PATH=C:\Users\siddi\OneDrive\Documents\Dissertation\event-driven-rag-pipeline\Shared_Folder
